# Environnement virtuel
venv/
env/
# Fichiers Python compilés
__pycache__/
*.py[cod]
*.class
# Base de données SQLite
instance/
# Fichiers de l'environnement
.env
.flaskenv
# Logs et fichiers temporaires
*.log
*.tmp
# Fichiers de configuration
*.DS_Store
_Suivi/